<% if is_logged_in? %>
  <div class="row animated zoomIn">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron animated fadeInDownBig">
    <h1>Welcome to ConnectDev!</h1>
    <p>The app development focused community hub for developers, investors, and entrepreneurs!</p>
    
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well animated fadeInUpBig">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary btn-block animate shake-horizontal" %>
      </div>
    </div>
    
  </div>
        
  
<% end %>

