<% provide(:title, "About Site") %>
<div class="animated slideInRight">
  <h1>About ConnectDev</h1>
  <p>ConnectDev is an independnt project site written by Cameron Blair.</p>
  <p>The site currently functions as a twitter clone, allowing users to create profiles, post microposts, follow/unfollow users at their own whim.</p>
</div>
