<% provide(:title, "About Team") %>
<div class="animated slideInLeft">
  <h1>About the developer</h1>
  
  <p>Cameron is a web Developer specializing in Ruby on Rails front-end development. Knowledge of numerous programming languages including Ruby with the Rails framework, AngularJS, and ReactJS Strong background in team oriented communication and problem solving. </p>

  <%= link_to  'https://www.linkedin.com/in/cameron-blair-49598b78/' do %>
    <i class='fa fa-linkedin fa-3x slideInLeft' aria-hidden='true'></i>
  <% end %>
</div>
