<h1>ConnectDev</h1>


<p>Hello <%= @user.name %>,</p>


<p>Welcome to ConnectDev!</p>

<p>Click on the link below to activate yoru account and join our development community!</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>