Hello <%= @user.name %>

Welcome to ConnectDev!

Click on the link below to activate your account and join our development community!

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>