<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <p>You have received a message from ConnectDev's contact page.
    From:<%= "#{@name}, #{@email}"%></p>
    <p><%= @body %></p>
  </body>
</html>