<footer class="footer animated fadeInUp">
  <small>
    The <%= link_to "ConnectDev", root_path%> App
    by <%= link_to "Cameron Blair", about_team_path%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_site_path %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
  </nav>
</footer>