<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "ConnectDev", root_path, id: 'logo' %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                  About <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Team", about_team_path %></li>
                <li><%= link_to "Site", about_site_path %></li>
              </ul>
            </li>
            <li><%= link_to "Contact", new_contact_path %></li>
            <% if is_logged_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divide"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>